/* General */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

body,
html {
  width: 100%;
  height: 100%;
}

section {
  padding: 4rem 0;
}

/* HEADER */

.section-heading {
  margin-top: 0;
  font-size: 24px;
  font-weight: bold;
}

header.main-header {
  background-image: url("../img/banner.png");
  background-position: center center;
  background-size: cover;
  background-color: rgba(51, 54, 62, 1);
}

header.main-header .navbar
{
  padding: 3rem 1rem;
}

.banner-text {
  padding-top: 2rem;
  padding-bottom: calc(10rem - 56px);
}

.banner-link img{
  height: 29px;
}

.banner-tag{
  font-family: Montserrat;
  font-weight: normal;
  line-height: 1.25;
  text-align: center;
  color: #ffffff;
}

header.main-header h1 {
  font-size: 2rem;
}

header.main-header p {
  font-weight: 300;
}

@media (min-width: 768px) {
  header.main-header p {
    font-size: 1.15rem;
  }
}

@media (min-width: 1200px) {
  header.main-header h1 {
    font-size: 2.5rem;
  }
}

[tabindex="-1"]:focus {
  outline: 0 !important;
}


h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

b,
strong {
  font-weight: bolder;
}

img {
  vertical-align: middle;
  border-style: none;
}

a {
  color: #ea7141;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  text-decoration: none;
}

a:hover {
  color: #ee4b28;
}

/* BUTTON */

button {
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

button{
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  overflow: visible;
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

.btn-arrow{
  height: 15px;
  padding-left: 10px;
}

.btn {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 300px;
  color: #fff;  
  text-decoration: none;
}

.btn-xl {
  padding: 1rem 2rem;
}

.btn-lg {
  padding: .5rem 1rem;
  line-height: 1.5;
}

.btn-primary {
  background-color: #ea7141;
  border-color: #ea7141;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: #fff;
  background-color: #ee4b28 !important;
}

.btn-primary:active, .btn-primary:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(240, 95, 64, 0.5) !important;
  box-shadow: 0 0 0 0.2rem rgba(240, 95, 64, 0.5) !important;
}

.btn-primary-light {
  background-color: #fff;
  color: #ea7141;
  box-shadow: 5px 6px #e5e5e5;
  border: 1px solid #e5e5e5;
}

.btn-primary-light:hover, .btn-primary-light:focus, .btn-primary-light:active {
  color: #ea7141;
  background-color: rgba(229, 229, 229, 0.5) !important;
}

.btn-primary-light:active, .btn-primary-light:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(229, 229, 229, 0.5) !important;
  box-shadow: 0 0 0 0.2rem rgba(229, 229, 229, 0.5) !important;
}

/* CONTAINER */

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

/* ROW & COLUMN */

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col,
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}


@media (min-width: 768px) {
  .col-md {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-md-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .col-md-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-md-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-md-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-md-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-md-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-md-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-md-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-md-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  
}

/* NAVBAR */

.navbar {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.navbar > .container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.navbar-brand:hover, .navbar-brand:focus {
  text-decoration: none;
}

/* CARD */

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}

.card-img-top {
  width: 100%;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.share-img{
  box-shadow: 12px 12px #e5e5e5; cursor:pointer
}

/* BACKGROUND COLOR */

.bg-white {
  background-color: #fff !important;
}

.bg-transparent {
  background-color: transparent !important;
}

.bg-primary {
  background-color: #F05F40 !important;
}

.bg-secondary-light{
  background-color: #f6f6f6;
}

/* BORDER */

.border {
  border: 1px solid #dee2e6 !important;
}

.border-top {
  border-top: 1px solid #dee2e6 !important;
}

.border-0 {
  border: 0 !important;
}

.clearfix::after {
  display: block;
  clear: both;
  content: "";
}

/* DISPLAY */

.d-block {
  display: block !important;
}

.flex-container {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  justify-content: space-between;
}

.flex-item {
  width: 160px;
}

/* MARGIN & PADDING */

.mb-3{
  margin-bottom: 1rem !important;
}

.mb-4{
  margin-bottom: 1.5rem !important;
}

.mt-5 {
  margin-top: 3rem !important;
}

.mb-5 {
  margin-bottom: 3rem !important;
}

.mt-auto,
.my-auto {
  margin-top: auto !important;
}

.mr-auto,
.mx-auto {
  margin-right: auto !important;
}

.mb-auto,
.my-auto {
  margin-bottom: auto !important;
}

.ml-auto,
.mx-auto {
  margin-left: auto !important;
}

.plr-0{
  padding-left: 0;
  padding-right: 0;
}

/* TEXT-COLOR */

.text-center {
  text-align: center !important;
}

.text-white {
  color: #fff !important;
}

.text-faded {
  color: rgba(255, 255, 255, 0.7);
}

.text-faded-dark {
  color: #999999; 
  font-size: 16px;
}

.text-primary {
  color: #F05F40 !important;
}

.text-secondary {
  color: #949494 !important;
}

.text-secondary-light {
  color: #afafaf !important;
}

/* FOOTER */

footer{
  padding-top: 20px;
  padding-bottom: 20px;  
  font-size: 12px; 
  color:#33363e;
}

.footer-links a{
  color: #33363e;
  padding-left: 10px;
  padding-right: 10px;
}

.footer-links a:hover{
  color: #ee4b28;
}

.footer-text{
  color: rgba(51, 54, 62, 0.8);
}
